<ion-menu contentId="mainContent">
  <div class="sidemenu-content">
    Logged in as:<br>
    <img src="assets/img/profile.jpg" class="sidemenu-img">
    <span class="sidemenu-user" [routerLink]="['/profile']">MIKKO M.</span>

    <div class="sidemenu-nav">
      <ion-list class="list-top" [routerLink]="['/signature']" class="sidemenu-active">Signature cocktails <span
          class="sidebar-right">&raquo;</span></ion-list>
      <ion-list [routerLink]="['/menu']">Food menu <span class="sidebar-right">&raquo;</span></ion-list>
      <ion-list [routerLink]="['/browse']">Browse cocktails <span
          class="sidebar-right">&raquo;</span></ion-list>
      <ion-list [routerLink]="['/contact']">Contact us <span class="sidebar-right">&raquo;</span></ion-list>
      <ion-list [routerLink]="['/bookatable']">Book a table <span class="sidebar-right">&raquo;</span></ion-list>
    </div>

    <div>
      <h5>BarCode</h5>
    </div>
  </div>
</ion-menu>

<div class="ion-page" id="mainContent" main>
  <ion-buttons>
    <ion-menu-toggle><ion-icon name="menu-outline" class="menu-icon"></ion-icon></ion-menu-toggle>
    <ion-icon name="cart-outline" class="cart-icon" [routerLink]="['/checkout']"></ion-icon>
  </ion-buttons>

  <img src="assets/img/bgimg.jpg" class="bgimg">
  <div class="splash-title">

    <h2>BarCode</h2>
    <h4>Signature Cocktails</h4>

    <div>
      <ion-card class="cocktail-card">
        <ion-icon name="heart-outline" class="fave-icon"></ion-icon>
        <span class="cocktail-title">Cucumber Mojito 9,90 €</span>
        <img src="assets/img/drink1.png" class="cocktail-img">
        <p class="cocktail-details">Bacardi Carta Blanca, cucumber, lime, mint, sugar, soda water</p>
        <p class="disclaimer">Order this drink &raquo;</p>
      </ion-card>
      <br>
      <ion-card class="cocktail-card">
        <ion-icon name="heart-outline" class="fave-icon"></ion-icon>
        <span class="cocktail-title">Old Fashioned 12,90 €</span>
        <img src="assets/img/drink3.png" class="cocktail-img">
        <p class="cocktail-details">Maker's Mark, sugar, bitters, orange, water</p>
        <p class="disclaimer">Order this drink &raquo;</p>
      </ion-card>
    </div>
  </div>
</div>