<ion-menu contentId="mainContent">
  <div class="sidemenu-content">
    Logged in as:<br>
    <img src="assets/img/profile.jpg" class="sidemenu-img">
    <span class="sidemenu-user" [routerLink]="['/profile']">MIKKO M.</span>

    <div class="sidemenu-nav">
      <ion-list class="list-top" [routerLink]="['/signature']">Signature cocktails <span
          class="sidebar-right">&raquo;</span></ion-list>
      <ion-list [routerLink]="['/menu']" class="sidemenu-active">Food menu <span class="sidebar-right">&raquo;</span></ion-list>
      <ion-list [routerLink]="['/browse']">Browse cocktails <span class="sidebar-right">&raquo;</span></ion-list>
      <ion-list [routerLink]="['/contact']">Contact us <span
          class="sidebar-right">&raquo;</span></ion-list>
      <ion-list [routerLink]="['/bookatable']">Book a table <span class="sidebar-right">&raquo;</span></ion-list>
    </div>

    <div>
      <h5>BarCode</h5>
    </div>
  </div>
</ion-menu>

<div class="ion-page" id="mainContent" main>
  <ion-buttons>
    <ion-menu-toggle><ion-icon name="menu-outline" class="menu-icon"></ion-icon></ion-menu-toggle>
    <ion-icon name="cart-outline" class="cart-icon" [routerLink]="['/checkout']"></ion-icon>
  </ion-buttons>

  <img src="assets/img/bgimg.jpg" class="bgimg">
  <div class="splash-title">

    <h2>BarCode</h2>
    <h4>Food Menu</h4>

    <div>
      <ion-card class="cocktail-card">
        <span class="cocktail-title">Savory Bourbon Pecans</span>
        <p class="cocktail-details">Glazed with a signature blend of bourbon, spices, and a hint of maple sweetness.</p>
        <p class="disclaimer">4,90 €</p>
      </ion-card>
      
      <ion-card class="cocktail-card">
        <span class="cocktail-title">Truffle Parmesan Popcorn</span>
        <p class="cocktail-details">Drizzled with truffle oil and generously coated with Parmesan cheese.</p>
        <p class="disclaimer">4,50 €</p>
      </ion-card>

      <p class="disclaimer">Please order your snacks at the bar counter.</p>
    </div>
  </div>
</div>