<ion-content [fullscreen]="true" class="no-scroll">
  <img src="assets/img/bgimg.jpg" class="bgimg">

  <div class="splash-title">
    <h2>welcome to</h2>
    <h3>BarCode</h3>

    <form [formGroup]="form">
      <p><ion-input placeholder="Enter email" type="email" formControlName="email" clearInput></ion-input>
        <app-error-message [field]="form.get('email')" error="required" message="Email is mandatory"></app-error-message>
        <app-error-message [field]="form.get('email')" error="email" message="Email is invalid"></app-error-message></p>

      <p><ion-input placeholder="Enter password" type="password" formControlName="password" clearInput></ion-input>
        <app-error-message [field]="form.get('password')" error="required" message="Password is mandatory"></app-error-message></p>

      <ion-button [disabled]="!form.valid" (click)="login()">LOG IN</ion-button>
    </form>

    <p class="login-bottom"><a id="present-alert"> Problems logging in?</a>
      <ion-alert trigger="present-alert" subHeader="Contact help@barcode.com for help regarding the app."
        message="If you need urgent help with something else, please contact bar staff immediately."></ion-alert></p>

      <p class="login-bottom"><a [routerLink]="['/register']"> Create an account</a>
    </p>
  </div>
</ion-content>