<ion-menu contentId="mainContent">
  <div class="sidemenu-content">
    Logged in as:<br>
    <img src="assets/img/profile.jpg" class="sidemenu-img">
    <span class="sidemenu-user" [routerLink]="['/profile']">MIKKO M.</span>

    <div class="sidemenu-nav">
      <ion-list class="list-top" [routerLink]="['/signature']">Signature cocktails <span class="sidebar-right">&raquo;</span></ion-list>
      <ion-list [routerLink]="['/menu']">Food menu <span class="sidebar-right">&raquo;</span></ion-list>
      <ion-list [routerLink]="['/browse']">Browse cocktails <span class="sidebar-right">&raquo;</span></ion-list>
      <ion-list [routerLink]="['/contact']">Contact us <span class="sidebar-right">&raquo;</span></ion-list>
      <ion-list [routerLink]="['/bookatable']">Book a table <span class="sidebar-right">&raquo;</span></ion-list>
    </div>

    <div>
      <h5>BarCode</h5>
    </div>
  </div>
</ion-menu>

<div class="ion-page" id="mainContent" main>
  <ion-buttons>
    <ion-menu-toggle><ion-icon name="menu-outline" class="menu-icon"></ion-icon></ion-menu-toggle>
    <ion-icon name="cart-outline" class="cart-icon" [routerLink]="['/checkout']"></ion-icon>
  </ion-buttons>

  <img src="assets/img/bgimg.jpg" class="bgimg">
  <div class="splash-title">

    <h2>welcome to</h2>
    <h3>BarCode</h3>

    <div>
      <ion-card>
        <p>Welcome to Bar Code, Helsinki's ultimate destination for relaxation and good vibes.</p>

        <p>Nestled in the heart of the city, our easygoing cocktail bar invites you to unwind and indulge in our
          carefully
          crafted concoctions.</p>

        <p>With a laid-back atmosphere, friendly staff, and a diverse menu, Bar Code is the perfect spot to enjoy your
          evening.</p>
      </ion-card>
    </div>
  </div>
</div>